body{
    background-image: url(john-matychuk-gUK3lA3K7Yo-unsplash.jpg);
    background-position: center;
    background-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

#player {
  width: 400px;
  margin-top: 23px;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(17, 0, 255);
}

#controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#track-info {
  margin-bottom: 20px;
}

#progress-container {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

#progress {
  height: 100%;
  background-color: #06140b;
  border-radius: 5px;
}